.weatherDataCont {
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 5px;
  box-sizing: border-box;
  height: 100px;
  line-height: 100px;
  padding: 5px;
  width: 100%;
}

.weatherExtraInfoCont {
  display: inline-block;
  line-height: 28px;
  text-align: left;
  width: 40%;
}

.weatherTemperatureCont {
  display: inline-block;
  width: 60%;
}

.temperature {
  color: #333;
  font-size: 28px;
  font-weight: bold;
  padding-left: 20px;
}

.temperatureType {
  color: #666;
  font-weight: bold;
}

.extraInfoText {
  color: #1535c5;
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.wicon {
  color: rgba(255, 72, 2);
}